{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
  <section class="login-section">
    {% block body %}
    {% if next %}
    {% if user.is_authenticated %}

    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <div class="login-container">
      <h1>Log In</h1>
      <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-button">Login</button>
      </form>
      <a href="{% url 'signUp' %}"><button type="submit" class="signUp-button">Sign Up</button></a>
      <a href="{% url 'passwordReset' %}"><button type="submit" class="signUp-button">Reset Password</button></a>
    </div>
    {% endblock %}
  </section>
</body>

</html>