{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <title>{% block title %}Sign Up {% endblock %}</title>
</head>

<body>
    <div class="SignUp-container">
      <h1>Sign Up</h1>
      <form method="post" class="signUp-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="signUp-button">Sign Up</button>
      </form>
    </div>
  </section>
</body>

</html>