{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  {% block head %}{% endblock %}

  <title>{% block title %}Bem-vindo!{% endblock %}</title>
</head>

<body>

  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'homeClientes' %}">Clientes</a></li>
      <li><a href="{% url 'homeCarros' %}">Carros</a></li>
    </ul>
  </nav>

  <section class="home-section">
    {% block body %}
    {% endblock %}
  </section>

</body>

</html>