{% extends "base.html" %}
{% load static %}

{% block title %}Editor de Registro{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block body %}
<form action="{% url 'update' carro.id %}" method="post">
  <h3>Editar Cadastro</h3>
  {% csrf_token %}
  <label for="nome"><strong>Nome</strong></label>
  <input type="text" name="nome" value="{{ carro.nome }}" required>
  <label for="marca"><strong>Marca</strong></label>
  <input type="text" name="marca" value="{{ carro.marca }}" required>
  <label for="placa"><strong>Placa</strong></label>
  <input type="text" name="placa" value="{{ carro.placa }}" required>
  <label for="cor"><strong>Cor</strong></label>
  <input type="text" name="cor" value="{{ carro.cor }}" required>
  <label for="ano"><strong>Ano</strong></label>
  <input type="text" name="ano" value="{{ carro.ano }}" required>
  <button type="submit">Atualizar</button>
  <a href="{% url 'home' %}"><button type="button">Voltar</button></a>
</form>

<div class="Tabela">
  <h3>Tabela de Veículos</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Placa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ carro.id }}</td>
        <td>{{ carro.nome }}</td>
        <td>{{ carro.marca }}</td>
        <td>{{ carro.placa }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}