<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Visualização de carros</title>
</head>

<body>

  <nav></nav>
  <div class="form">
    <form action="{% url 'salvar' %}" method="post">
      {% csrf_token %}
      Nome do Veículo:<input type="text" name="nome">
      Marca do Veículo:<input type="text" name="marca">
      Placa do Veículo:<input type="text" name="placa">
      <button type="submit">Cadastrar</button>
    </form>
  </div>

  <div class="Tabela">
    <h1>Tabela de Veículos</h1>
    <table style="border-collapse: collapse; width: 100%; text-align: left; margin: 20px 0;">
      <thead>
        <tr style="background-color: #f2f2f2;">
          <th style="border: 1px solid #ddd; padding: 8px;">ID</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Nome</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Marca</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Placa</th>
          <th style="border: 1px solid #ddd; padding: 8px;">Configurações</th>
        </tr>
      </thead>
      <tbody>
        {% for carro in carros %}
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px;">{{ carro.id }}</td>
          <td style="border: 1px solid #ddd; padding: 8px;">{{ carro.nome }}</td>
          <td style="border: 1px solid #ddd; padding: 8px;">{{ carro.marca }}</td>
          <td style="border: 1px solid #ddd; padding: 8px;">{{ carro.placa }}</td>
          <td style="border: 1px solid #ddd; padding: 8px;"><a href="{% url 'editar' carro.id %}">Editar</a>
            <form action="{% url 'delete' carro.id %}" method="post">
              {% csrf_token %}
              <button name="deletar" type="submit" value="delete">Deletar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>