<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Visualização de carros</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <nav></nav>
  <div class="formulario">
    <form name="formulario-cadastro" action="{% url 'salvar' %}" method="post">
      <h3>Formulário de Cadastro de Veículos</h3>
      <br>
      {% csrf_token %}
      Nome do Veículo:<input type="text" name="nome">
      Marca do Veículo:<input type="text" name="marca">
      Placa do Veículo:<input type="text" name="placa">
      <button type="submit">Cadastrar</button>
    </form>
  </div>

  <div class="Tabela">
    <h3>Veículos Registrados</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Marca</th>
          <th>Placa</th>
          <th>Configurações</th>
        </tr>
      </thead>
      <tbody>
        {% for carro in carros %}
        <tr>
          <td>{{ carro.id }}</td>
          <td>{{ carro.nome }}</td>
          <td>{{ carro.marca }}</td>
          <td>{{ carro.placa }}</td>
          <td><a href="{% url 'editar' carro.id %}"><button class="botoes" id="editar">Editar</button></a>
            <a href="{% url 'delete' carro.id %}"><button class="botoes" id="deletar">Deletar</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>