<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editor</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <h1>Editar Cadastro</h1>
  <form action="{% url 'update' carro.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="nome" value="{{carro.nome}}">
    <input type="text" name="marca" value="{{carro.marca}}">
    <input type="text" name="placa" value="{{carro.placa}}">
    <button type="submit">Atualizar</button>
    <a href="/core/templates/index.html"></a><button type="menu">Voltar</button>
  </form>

  <div class="Tabela">
    <h1>Tabela de Veículos</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Marca</th>
          <th>Placa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ carro.id }}</td>
          <td>{{ carro.nome }}</td>
          <td>{{ carro.marca }}</td>
          <td>{{ carro.placa }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>